# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Exercicio10/nbproject/private/
/Exercicio10/build/
/Exercicio11/nbproject/private/
/Exercicio11/build/
/exercicio12/nbproject/private/
/exercicio12/build/
/Exercicio13/nbproject/private/
/Exercicio13/build/
/Exercicio14/nbproject/private/
/Exercicio14/build/
/Exercicio15/nbproject/private/
/JavaApplication17/nbproject/private/
/Exercicio15/build/
/Exercicio16/nbproject/private/
/Exercicio16/build/
/Exercicio18/nbproject/private/
/Exercicio18/build/
/Exercicio19/nbproject/private/
/Exercicio19/build/
/Exercicio20/nbproject/private/
/Exercicio20/build/
/Exercicio21/nbproject/private/
/Animais/nbproject/private/
/Animais/build/
/Loja/nbproject/private/
/Loja/build/
/Lampada/nbproject/private/
/Lampada/build/